USER_START_HERE/Build_Your_Own_Knowledge_Base_Tools/NiFi-based_sitemap_scrape/pubsecml-version-1.json
{"flowContents":{"identifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","instanceIdentifier":"e680a908-018a-1000-0000-00002b251d55","name":"pubsecml-version-1","comments":"","position":{"x":8576.0,"y":-192.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9ad1463d-a5f3-3e04-ab8f-338b142f36ba","instanceIdentifier":"77a8c70a-0da2-3c7f-b06c-f5019a80bc6b","name":"HTTP Response 500","comments":"","position":{"x":1200.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"HTTP Context Map":"59049d89-421f-4423-9eb7-a256b09c78e4","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"da8f8033-c8cd-3f3f-8aaf-fd7aefc172ef","instanceIdentifier":"193c9365-5eb3-3231-9038-84d59915a7a2","name":"HTTP Response 200","comments":"","position":{"x":-312.0,"y":1720.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"HTTP Context Map":"59049d89-421f-4423-9eb7-a256b09c78e4","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"ce3daf6d-c1d1-358b-af17-64985dd03e29","instanceIdentifier":"0b4d92f6-d17a-3e3f-94b6-0605772784e4","name":"Extract 'loc' from XML","comments":"","position":{"x":304.0,"y":-184.0},"type":"org.apache.nifi.processors.standard.EvaluateXQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Destination":"flowfile-content","Output: Method":"xml","sitemap.loc":"declare namespace sitemap=\"http://www.sitemaps.org/schemas/sitemap/0.9\";\n\nif (exists(/sitemap:sitemapindex)) then (\n    for $x in /sitemap:sitemapindex/sitemap:sitemap/sitemap:loc\n    return string($x)\n) else (\n    for $x in /sitemap:urlset/sitemap:url/sitemap:loc\n    return string($x)\n)","Output: Omit XML Declaration":"false","Output: Indent":"false","Validate DTD":"false"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Output: Method":{"name":"Output: Method","displayName":"Output: Method","identifiesControllerService":false,"sensitive":false},"sitemap.loc":{"name":"sitemap.loc","displayName":"sitemap.loc","identifiesControllerService":false,"sensitive":false},"Output: Omit XML Declaration":{"name":"Output: Omit XML Declaration","displayName":"Output: Omit XML Declaration","identifiesControllerService":false,"sensitive":false},"Output: Indent":{"name":"Output: Indent","displayName":"Output: Indent","identifiesControllerService":false,"sensitive":false},"Validate DTD":{"name":"Validate DTD","displayName":"Allow DTD","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"89470716-5c7b-39d2-9e4d-0ffc0a1c73c3","instanceIdentifier":"0ba2e0b5-2ffe-3e36-ad54-5dd92c4f055a","name":"InvokeHTTP","comments":"","position":{"x":-296.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${http.param.sitemap}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"c7395e68-a420-3158-8739-efccbb7ae5d3","instanceIdentifier":"f1557fd5-bb2a-375b-abdf-27127cff9d1d","name":"InvokeHTTP","comments":"","position":{"x":-280.0,"y":616.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${http.extraction.url}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"40c4689f-9199-3d97-ac86-3e1eed46a870","instanceIdentifier":"ec2778a2-f2d2-3d96-8b2c-a5ece6d5b7eb","name":"Content to Attribute","comments":"","position":{"x":-288.0,"y":400.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","http.extraction.url":"^(https?://[^\\s/$.?#].[^\\s]*)$","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"http.extraction.url":{"name":"http.extraction.url","displayName":"http.extraction.url","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"1e7520a9-87c2-3fc1-852c-d4ab9a0edcfa","instanceIdentifier":"49c7c8c5-04bc-3cfe-b047-8056a0c7ae07","name":"Remove HTML Headers","comments":"","position":{"x":-272.0,"y":1064.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Regular Expression":"<(?!\\/?(h1|h2|h3|h4|h5|h6|p|table|thead|tbody|tr|td|th)(>| \\/>))\\/?.*?>|<\\/(h1|h2|h3|h4|h5|h6|p|table|thead|tbody|tr|td|th)>","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"10 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"bd0a73bc-9b17-3c88-9a63-877f2894566f","instanceIdentifier":"d19411af-d6eb-3f9c-a740-9e08235d8ada","name":"Content to Attribute","comments":"","position":{"x":304.0,"y":128.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","http.param.sitemap":"^(https?://[^\\s/$.?#].[^\\s]*)$","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"http.param.sitemap":{"name":"http.param.sitemap","displayName":"http.param.sitemap","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"f0ee2b5a-ede3-3346-a1d7-b46ba760c2da","instanceIdentifier":"1dd62faa-7390-3ce3-8fd2-7cfc2b5ae487","name":"GenerateFlowFile","comments":"","position":{"x":-296.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","http.param.sitemap":"https://docs.cloudera.com/sitemap.xml"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false},"http.param.sitemap":{"name":"http.param.sitemap","displayName":"http.param.sitemap","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"b8e3f0db-ec1b-393e-99df-ffdfdbf65ebe","instanceIdentifier":"af525b90-018b-1000-ffff-ffffa80955c2","name":"UpdateAttribute","comments":"","position":{"x":-936.0,"y":-176.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"http.param.sitemap":"${http.query.string:replaceAll('\"', '')}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"http.param.sitemap":{"name":"http.param.sitemap","displayName":"http.param.sitemap","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"513f9696-b6be-35cc-959f-47d3828e386a","instanceIdentifier":"880cf6de-2990-398d-9ca5-b95f5cfcc292","name":"RouteOnAttribute","comments":"","position":{"x":-296.0,"y":136.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Routing Strategy":"Route to Property name","xml":"${http.param.sitemap:endsWith('.xml')}","html":"${http.param.sitemap:endsWith('.html')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"xml":{"name":"xml","displayName":"xml","identifiesControllerService":false,"sensitive":false},"html":{"name":"html","displayName":"html","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"d5f53af8-672b-33ab-9a22-6372264209f7","instanceIdentifier":"cbb6e4c9-90d3-3b8b-8aea-f409d622e729","name":"HTTP Response 500","comments":"","position":{"x":-1640.0,"y":544.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"HTTP Context Map":"59049d89-421f-4423-9eb7-a256b09c78e4","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"88d08d6f-2eb2-37e2-98fa-dda1e666e528","instanceIdentifier":"303e6b87-addc-32a9-9740-fd968255c140","name":"PutCDPObjectStore","comments":"","position":{"x":-272.0,"y":1288.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.3.9.0-24"},"properties":{"kerberos-credentials-service":null,"cdp.configuration.resources":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml","Kerberos Password":"#{CDP Password}","cdp-storage-location":null,"Kerberos Principal":"#{CDP Username}","writing-strategy":"simpleWrite","Directory":"${hdfs.path}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"cdp.configuration.resources":{"name":"cdp.configuration.resources","displayName":"cdp.configuration.resources","identifiesControllerService":false,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"02cbcc26-a4b9-3811-a4c7-916e3c915242","instanceIdentifier":"88b0c50f-d3ee-3806-b962-7cbfa153c2cc","name":"HandleHttpRequest","comments":"","position":{"x":-936.0,"y":-472.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"true","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"59049d89-421f-4423-9eb7-a256b09c78e4","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"false","Allowed Paths":"/sitemap","Allow GET":"true","Allow HEAD":"false","Listening Port":"8091","Client Authentication":"No Authentication","Allow PUT":"true"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"8fcf6049-9934-30e5-a387-649a0f4ff978","instanceIdentifier":"61ac395d-9fd5-34cf-b478-a562f8c73434","name":"Create CDP Store Attributes","comments":"","position":{"x":-280.0,"y":840.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"hdfs.path":"/${http.extraction.url:replace('https://', '')}","Delete Attributes Expression":null,"filename":"${http.extraction.url:substringAfterLast('/'):replace('.html', ''):append('-'):append(${UUID()}):append('.txt')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs.path":{"name":"hdfs.path","displayName":"hdfs.path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"7bbb07c1-f327-36b3-bef7-1852d421911b","instanceIdentifier":"581ae683-018b-1000-ffff-fffff39bcfc0","name":"Send to Pinecone V-DB","comments":"","position":{"x":312.0,"y":1512.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Proxy Host":null,"file_path":"${hdfs.path}","Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://pinecone-api.ml-7b60996f-cff.eng-ml-l.vnu8-sqze.cloudera.site/upsert_to_pinecone ","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"276bf308-44ea-32af-9078-ab1c990057c6","Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"true","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"file_path":{"name":"file_path","displayName":"file_path","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"675bae10-775f-3857-9e3f-00839dc6f400","instanceIdentifier":"af53e934-018b-1000-ffff-fffff9e44612","name":"","source":{"id":"b8e3f0db-ec1b-393e-99df-ffdfdbf65ebe","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"UpdateAttribute","comments":"","instanceIdentifier":"af525b90-018b-1000-ffff-ffffa80955c2"},"destination":{"id":"89470716-5c7b-39d2-9e4d-0ffc0a1c73c3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"0ba2e0b5-2ffe-3e36-ad54-5dd92c4f055a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"e81618cf-c1fa-3157-93bb-f89e3d9189d5","instanceIdentifier":"f98c522b-82f7-3605-b10b-d6f5b49d7c10","name":"","source":{"id":"1e7520a9-87c2-3fc1-852c-d4ab9a0edcfa","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Remove HTML Headers","comments":"","instanceIdentifier":"49c7c8c5-04bc-3cfe-b047-8056a0c7ae07"},"destination":{"id":"7bbb07c1-f327-36b3-bef7-1852d421911b","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Send to Pinecone V-DB","comments":"","instanceIdentifier":"581ae683-018b-1000-ffff-fffff39bcfc0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"a774b363-ab07-326c-80c8-4ea211433a00","instanceIdentifier":"5dc3b0f6-0607-3475-86cd-957191fbe025","name":"","source":{"id":"bd0a73bc-9b17-3c88-9a63-877f2894566f","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Content to Attribute","comments":"","instanceIdentifier":"d19411af-d6eb-3f9c-a740-9e08235d8ada"},"destination":{"id":"513f9696-b6be-35cc-959f-47d3828e386a","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"880cf6de-2990-398d-9ca5-b95f5cfcc292"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"f9e26ac3-1df4-3c70-82f8-91fe12907958","instanceIdentifier":"c595d6c7-8fe9-34c2-92a5-9e57d146e838","name":"","source":{"id":"bd0a73bc-9b17-3c88-9a63-877f2894566f","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Content to Attribute","comments":"","instanceIdentifier":"d19411af-d6eb-3f9c-a740-9e08235d8ada"},"destination":{"id":"ce176d8d-3226-37b2-8228-253407aac5ad","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"6c81e85b-582c-3566-9b3a-34d17207c6f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"3c5dc130-0720-38d0-bee6-2f1d9bc7040b","instanceIdentifier":"201454fe-c10a-39fc-a93e-c19b68244e9e","name":"","source":{"id":"89470716-5c7b-39d2-9e4d-0ffc0a1c73c3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"0ba2e0b5-2ffe-3e36-ad54-5dd92c4f055a"},"destination":{"id":"0e316771-8328-3807-b642-d337c1f62421","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"546526fb-a636-3aeb-b7ae-bbf2ebb48e53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"9db0b5cf-d0c9-3683-81f7-ad6907ac9b89","instanceIdentifier":"5cba1d52-8d30-346a-8e4b-2bb4b571204d","name":"","source":{"id":"88d08d6f-2eb2-37e2-98fa-dda1e666e528","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"303e6b87-addc-32a9-9740-fd968255c140"},"destination":{"id":"4bd4a63a-256c-3ca0-b0c3-a0dd8bf48161","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"26e01af6-537d-3b3d-95f1-2a863a78fa23"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"bdc344d1-9bc0-3633-89d7-ce78e6963312","instanceIdentifier":"01c2d4dd-1a9e-3773-a084-5c62abfa6ecf","name":"","source":{"id":"1e7520a9-87c2-3fc1-852c-d4ab9a0edcfa","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Remove HTML Headers","comments":"","instanceIdentifier":"49c7c8c5-04bc-3cfe-b047-8056a0c7ae07"},"destination":{"id":"0e316771-8328-3807-b642-d337c1f62421","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"546526fb-a636-3aeb-b7ae-bbf2ebb48e53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"4e7b646a-ade6-387b-b150-77e612d867ff","instanceIdentifier":"5824af40-018b-1000-0000-000077f4ce0d","name":"","source":{"id":"7bbb07c1-f327-36b3-bef7-1852d421911b","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Send to Pinecone V-DB","comments":"","instanceIdentifier":"581ae683-018b-1000-ffff-fffff39bcfc0"},"destination":{"id":"4bd4a63a-256c-3ca0-b0c3-a0dd8bf48161","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"26e01af6-537d-3b3d-95f1-2a863a78fa23"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","Original","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"90c1a174-7b87-335b-944b-0478f1b60efa","instanceIdentifier":"7b04ab41-8227-3462-b22d-5f20804eb165","name":"","source":{"id":"c7395e68-a420-3158-8739-efccbb7ae5d3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"f1557fd5-bb2a-375b-abdf-27127cff9d1d"},"destination":{"id":"8fcf6049-9934-30e5-a387-649a0f4ff978","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Create CDP Store Attributes","comments":"","instanceIdentifier":"61ac395d-9fd5-34cf-b478-a562f8c73434"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"64592921-8b36-38e3-8b44-bd5562a2d796","instanceIdentifier":"d11a0123-3249-3ab4-a1cf-ca74ee8cefc0","name":"","source":{"id":"c7395e68-a420-3158-8739-efccbb7ae5d3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"f1557fd5-bb2a-375b-abdf-27127cff9d1d"},"destination":{"id":"0e316771-8328-3807-b642-d337c1f62421","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"546526fb-a636-3aeb-b7ae-bbf2ebb48e53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"758dda44-ec2d-3891-bf75-c55b2267b655","instanceIdentifier":"e35ca9a9-b28a-308c-93c2-4caab6546d6a","name":"","source":{"id":"513f9696-b6be-35cc-959f-47d3828e386a","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"880cf6de-2990-398d-9ca5-b95f5cfcc292"},"destination":{"id":"0e316771-8328-3807-b642-d337c1f62421","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"546526fb-a636-3aeb-b7ae-bbf2ebb48e53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"7f591f02-04e0-3128-b035-47bca854e9e9","instanceIdentifier":"af48aa02-018b-1000-ffff-ffffee750b76","name":"","source":{"id":"02cbcc26-a4b9-3811-a4c7-916e3c915242","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"HandleHttpRequest","comments":"","instanceIdentifier":"88b0c50f-d3ee-3806-b962-7cbfa153c2cc"},"destination":{"id":"b8e3f0db-ec1b-393e-99df-ffdfdbf65ebe","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"UpdateAttribute","comments":"","instanceIdentifier":"af525b90-018b-1000-ffff-ffffa80955c2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"247518bf-2114-3abe-9438-3412fe2513ef","instanceIdentifier":"63636536-47c1-3097-b555-ea253a96416a","name":"","source":{"id":"513f9696-b6be-35cc-959f-47d3828e386a","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"880cf6de-2990-398d-9ca5-b95f5cfcc292"},"destination":{"id":"89470716-5c7b-39d2-9e4d-0ffc0a1c73c3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"0ba2e0b5-2ffe-3e36-ad54-5dd92c4f055a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["xml"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"7b379417-4f96-32ef-9a22-5aab891555af","instanceIdentifier":"865f41e0-02de-3b26-ab02-2b5e0597d3ce","name":"","source":{"id":"ce3daf6d-c1d1-358b-af17-64985dd03e29","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Extract 'loc' from XML","comments":"","instanceIdentifier":"0b4d92f6-d17a-3e3f-94b6-0605772784e4"},"destination":{"id":"bd0a73bc-9b17-3c88-9a63-877f2894566f","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Content to Attribute","comments":"","instanceIdentifier":"d19411af-d6eb-3f9c-a740-9e08235d8ada"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"bd921363-7da4-3c90-aa35-e358a970497a","instanceIdentifier":"c70760f5-6df9-3fa5-a569-74d9f3681e4a","name":"","source":{"id":"89470716-5c7b-39d2-9e4d-0ffc0a1c73c3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"0ba2e0b5-2ffe-3e36-ad54-5dd92c4f055a"},"destination":{"id":"ce3daf6d-c1d1-358b-af17-64985dd03e29","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Extract 'loc' from XML","comments":"","instanceIdentifier":"0b4d92f6-d17a-3e3f-94b6-0605772784e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"061f1090-9547-3eba-8b44-dbfa73b310b4","instanceIdentifier":"b1f8d6e4-1c0c-30fa-bc40-381640683057","name":"","source":{"id":"40c4689f-9199-3d97-ac86-3e1eed46a870","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Content to Attribute","comments":"","instanceIdentifier":"ec2778a2-f2d2-3d96-8b2c-a5ece6d5b7eb"},"destination":{"id":"c7395e68-a420-3158-8739-efccbb7ae5d3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"f1557fd5-bb2a-375b-abdf-27127cff9d1d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"51f3d7ef-d438-362a-88bd-8d312fc2c43c","instanceIdentifier":"a3685a62-943b-364b-b317-c3be5e0e0835","name":"","source":{"id":"513f9696-b6be-35cc-959f-47d3828e386a","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"RouteOnAttribute","comments":"","instanceIdentifier":"880cf6de-2990-398d-9ca5-b95f5cfcc292"},"destination":{"id":"40c4689f-9199-3d97-ac86-3e1eed46a870","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Content to Attribute","comments":"","instanceIdentifier":"ec2778a2-f2d2-3d96-8b2c-a5ece6d5b7eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["html"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"fc4abf4a-226b-3e15-bc8e-4d0f9a167808","instanceIdentifier":"616b68eb-06a1-30dc-96f6-7736567eb0e8","name":"","source":{"id":"ce3daf6d-c1d1-358b-af17-64985dd03e29","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Extract 'loc' from XML","comments":"","instanceIdentifier":"0b4d92f6-d17a-3e3f-94b6-0605772784e4"},"destination":{"id":"ce176d8d-3226-37b2-8228-253407aac5ad","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"6c81e85b-582c-3566-9b3a-34d17207c6f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"b22abbf5-54c8-37cc-b4d0-435e2822d631","instanceIdentifier":"b76d3b62-10a4-375e-95d9-b09dc03db6c2","name":"","source":{"id":"88d08d6f-2eb2-37e2-98fa-dda1e666e528","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"303e6b87-addc-32a9-9740-fd968255c140"},"destination":{"id":"0e316771-8328-3807-b642-d337c1f62421","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"546526fb-a636-3aeb-b7ae-bbf2ebb48e53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"9d21043e-0e33-333e-ac76-fd391b92c5d6","instanceIdentifier":"5145c65e-3060-3f58-814b-ceb66ba2749b","name":"","source":{"id":"8fcf6049-9934-30e5-a387-649a0f4ff978","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Create CDP Store Attributes","comments":"","instanceIdentifier":"61ac395d-9fd5-34cf-b478-a562f8c73434"},"destination":{"id":"1e7520a9-87c2-3fc1-852c-d4ab9a0edcfa","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Remove HTML Headers","comments":"","instanceIdentifier":"49c7c8c5-04bc-3cfe-b047-8056a0c7ae07"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"b21cf05b-5c57-3c53-b347-2597c0d6afec","instanceIdentifier":"5bba56a4-1bd7-3404-9eda-d8e0d6cc1830","name":"","source":{"id":"f0ee2b5a-ede3-3346-a1d7-b46ba760c2da","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1dd62faa-7390-3ce3-8fd2-7cfc2b5ae487"},"destination":{"id":"89470716-5c7b-39d2-9e4d-0ffc0a1c73c3","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"InvokeHTTP","comments":"","instanceIdentifier":"0ba2e0b5-2ffe-3e36-ad54-5dd92c4f055a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"ea08445f-6a19-3e17-915e-40403a11a286","instanceIdentifier":"511cc697-b95c-3b9a-96ff-800554368284","name":"","source":{"id":"40c4689f-9199-3d97-ac86-3e1eed46a870","type":"PROCESSOR","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Content to Attribute","comments":"","instanceIdentifier":"ec2778a2-f2d2-3d96-8b2c-a5ece6d5b7eb"},"destination":{"id":"0e316771-8328-3807-b642-d337c1f62421","type":"FUNNEL","groupId":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4","name":"Funnel","comments":"","instanceIdentifier":"546526fb-a636-3aeb-b7ae-bbf2ebb48e53"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"}],"labels":[],"funnels":[{"identifier":"0e316771-8328-3807-b642-d337c1f62421","instanceIdentifier":"546526fb-a636-3aeb-b7ae-bbf2ebb48e53","position":{"x":-1176.0,"y":568.0},"componentType":"FUNNEL","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"ce176d8d-3226-37b2-8228-253407aac5ad","instanceIdentifier":"6c81e85b-582c-3566-9b3a-34d17207c6f2","position":{"x":1000.0,"y":0.0},"componentType":"FUNNEL","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"4bd4a63a-256c-3ca0-b0c3-a0dd8bf48161","instanceIdentifier":"26e01af6-537d-3b3d-95f1-2a863a78fa23","position":{"x":-88.0,"y":1528.0},"componentType":"FUNNEL","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"}],"controllerServices":[{"identifier":"c71fe9ef-857a-3455-a1c9-4afc71f5c2c1","instanceIdentifier":"e2734790-97e0-32e0-af29-a412ca13433b","name":"KeytabCredentialsService_BAPFD0101M","comments":"","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Kerberos Keytab":"#{Settingfile_path}/nifi.keytab","Kerberos Principal":"nifi/${hostname(true)}@ASSET-PF.TEPCUBE.JP"},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"bfdfa8d7-2570-4e99-bd61-f36751db5e3c","instanceIdentifier":"4a12a30d-71f1-3c26-be97-37ccb668e0ec","name":"XMLReader","type":"org.apache.nifi.xml.XMLReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"content_field_name":null,"schema-branch":null,"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"parse_xml_attributes":"true","record_format":"false","attribute_prefix":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"content_field_name":{"name":"content_field_name","displayName":"Field Name for Content","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"parse_xml_attributes":{"name":"parse_xml_attributes","displayName":"Parse XML Attributes","identifiesControllerService":false,"sensitive":false},"record_format":{"name":"record_format","displayName":"Expect Records as Array","identifiesControllerService":false,"sensitive":false},"attribute_prefix":{"name":"attribute_prefix","displayName":"Attribute Prefix","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"276bf308-44ea-32af-9078-ab1c990057c6","instanceIdentifier":"e680a1bb-018a-1000-0000-000048fa67eb","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e680a908-018a-1000-0000-00002b251d55"},{"identifier":"59049d89-421f-4423-9eb7-a256b09c78e4","instanceIdentifier":"caf510e2-a240-3f8a-be9c-0b9166dc495c","name":"StandardHttpContextMap","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"},{"identifier":"a72200e0-ca6c-4c96-a09a-4c9718c6794f","instanceIdentifier":"9dbc3246-2701-39e5-9964-92de2a2f7f4b","name":"JsonRecordSetWriter","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3ab72e1c-9fe6-3dca-9462-b8e69be6c3a4"}],"variables":{},"parameterContextName":"pubsecml","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"pubsecml":{"name":"pubsecml","parameters":[{"name":"CDP Username","description":"","sensitive":false,"provided":false,"value":"ktalbert"},{"name":"CDP Password","description":"","sensitive":true,"provided":false},{"name":"Response FlowFile Naming Strategy","description":"","sensitive":false,"provided":false,"value":"hdfs.path"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}